.container-filler-white {
  overflow: hidden;
  background: white;
  border-radius: 0 0 0 0;
  height: 100vh
}

.container-principal-promo {
  background: white;
}


.promotion-btn {
  background-color: $green;
  color: white;
}
