#name {
 background-color: $white;
}

#h3 {
  font-size: 1em;
}

#description {
  font-size: 0.7em;
  opacity: 0.6;
}

#address {
  font-size: 0.5em;
}

#cards {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

#cardsnoshop {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    opacity: 0.4;
}

#noshop {
  font-size: 0.7em;
  opacity: 0.6;
}
