
#stamp-card {
  background: white;
  margin: 10px;
}


#redeem {
  display: flex;
  flex-direction: column;
  padding: 15px 90px;
  color: white
}

.button {
  background-color: $green;
  margin: 8px;
}


