
#stamp-card {
  background: white;
  margin: 10px;
}


.button-stamp {
  background-color: $green;
  color: white;
  border-radius: 20px;
  font-weight: bold;
}


.body {
  color: white;
}


.card-stamp {
  overflow: hidden;
  background: white;
  border-radius: 0 0 0 0;
}

.card-stamp-bottom {
  overflow: hidden;
  background: white;
  border-radius: 0 0 0 0;
  height: 100vh
}

.container-star-form {
  background: white;
  height: 100vh;
}
