
#stamp-card {
  background: white;
  margin: 10px;
}

#redeem {
  display: flex;
  flex-direction: column;
  padding: 15px 90px;
  color: white
}

#redeem-btn a {
  background-color: $green;
  margin: 18px;
  color: white;
  padding: 15px;
}


.button-stamp {
  background-color: $green;
  color: white;
}


.body {
  color: white;
}


.card-stamp {
  overflow: hidden;
  background: white;
  border-radius: 0 0 0 0;
}

.card-stamp-bottom {
  overflow: hidden;
  background: white;
  border-radius: 0 0 0 0;
  height: 100vh
}
