<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to dashboard_path, class: "navbar-brand" do %>
    <%= image_tag "https://static.thenounproject.com/png/1407802-200.png" %>
    <% end %>

  <a href="../shops"> <img src="https://t3.ftcdn.net/jpg/01/11/09/70/500_F_111097047_sj5wKUn1NmGiY4QiaXWLrId2p3tKswEb.jpg" height="25" width="25"> </a>


</div>
