<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to dashboard_path, class: "navbar-brand" do %>
    <%= image_tag "icons-01.png"  %>
    <% end %>



  <a href="../shops"> <%= image_tag "icons-02.png", height: 30, width: 30  %> </a>


</div>














