<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to dashboard_path, class: "navbar-brand" do %>
    <%= image_tag "logo-green.png" %>
    <% end %>

<%= link_to shops_path do %>
    <%= image_tag "icons-02.png", height: 25, width: 25%>
    <% end %>

</div>
