<!-- _consumer_dashboard.html.erb
 -->
<p> If CONSUMER, render _consumer_dashboard.html.erb</p>
<%= render 'shared/_owner_dashboard.html.erb' %>
button to show QR code
list of loyalty cards
button to go to search in navbar (link to shops index)
