
<div class="navbar navbar-expand-sm navbar-light navbar-customer">
  <%= link_to "/dashboard", class: "navbar-brand" do %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
  <% end %>


  <%= link_to "/shops", class: "navbar-icon" do %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
  <% end %>
</div>



<div>
  list of loyalty cards
</div>


<button> show qr code </button>







