
<!-- _owner_dashboard.html.erb
 -->
<h1> OWNER  DASHBOARD</h1>

<p> button to scan QR code </p>

<p> button to create a promotion - render the promotion form </p>
<p> card with store info </p>

<p> list of all promotions (edit/destroy buttons - javascript _promotion.html.erb(partial)) </p>

  <div>
    <% @promotions.each do |promotion|  %>
    <p> Promotion name: <%= promotion.name %> </p>
    <p> Promotion description: <%= promotion.description %> </p>
    <% end %>
  </div>

