<!-- _owner_dashboard.html.erb
 -->

 <p> If SHOP OWNER, render _owner_dashboard.html.erb</p>
<%= render 'shared/_owner_dashboard.html.erb' %>
button to scan QR code
button to create a promotion - render the promotion form
card with store info
list of all promotions (edit/destroy buttons - javascript _promotion.html.erb(partial))
