<h1>User card info </h1>

<div>
    <% @scanned_user.cards.each do |a|%>
    <p> Shop name: <%= a.shop.name %></p>
    <p> Current star count: <%= a.star_count  %></p>
    <p> Card status: <%= a.status %></p>
  <% end %>
</div>
