<div>
  <% if @user.cards.exists? %>
    <%= render 'consumer_dashboard' %>
  <% else %>
    <%= render 'owner_dashboard' %>
  <% end %>
</div>

<div>
  <p> Name: <%= @user.first_name %> </p>
  <p>Loyal cards exists? <%= @user.cards.exists? %> </p>
</div>


