<h1>This is the dashboard</h1>
Name of User

<!-- write logic -->
<p> If SHOP OWNER, render _owner_dashboard.html.erb</p>
<%= render 'shared/_owner_dashboard.html.erb' %>

<!-- write logic -->
<p> If CONSUMER, render _consumer_dashboard.html.erb</p>
<%= render 'shared/_owner_dashboard.html.erb' %>
