<%= simple_form_for @card, :url => stamp_path(@scanned_user) do |f| %>
  <%= f.input :star_count, collection: 1..10 %>
  <%= f.button :submit %>
<% end %>


<% @completed_cards.each do |card| %>
  <div>
  <%=  link_to "redeem", close_path(card), method: :post %>
  </div>
<% end %>

