.form-control {
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: white !important;
  border: 0px solid black !important;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem $green;
}

.inputTransparent {
    border: 1px solid black;
    background-color: transparent;
}

.container {
  background-image: linear-gradient($dark-green, $light-green);
  height: 100vh;
}

.form-check-input  {
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: white !important;
}

.form-inputs {
  color:rgba(255, 255, 255, 0.5);
  text-align: center;
}

.input-field {
width: 60%;
  border-radius:20px;
}
.create-btn {
  border: none !important;
  color:rgba(255, 255, 255, 0.5) !important;
}





.form-signup {
  background-color: transparent;
  padding: 10px 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 8px;
  width: 100%;
  clear: none;
}

  h2 {
    font-size: 30px;
    font-weight: 3px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    border: 3px solid $white;
  }

.create-btn {
  margin-top: 4px;
  background-color: transparent;
  padding: 4px;
  border-radius: 36px;
  border: 3px solid $white;
  color: $white;
  display: block;
  text-align: center;
}

.forgot-btn {
  color: $white;
  display: block;
  text-align: center;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: none;
}
