// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "form";
@import "banner";
@import "map";
@import "button";

#link {
  color:black;
  text-decoration: none;
}

#category-div {
  padding: 20px;
  background-color: white;

}

.icon {
  opacity: 0.4;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.icon-onclick {
  opacity: 0.9;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}


#cards {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

#img-card {
  border-radius: 30px;
}

#title {
  font-size: 1.2em;
}

#description {
  font-size: 0.7em;
}

.fixed-buttons{
  position: fixed;
  bottom: 0;
  display: block;
}

#map-button {
    height: 60px;
    width: 100vw;
    position: fixed;
    bottom: 16px;
}
