<% content_for :meta_title, "Edit a promo" %>

<div class="container-filler-white ">
  <div class="form-login">
    <div class="container-principal-promo d-flex justify-content-center">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-4">
          <h3>Edit a promotion</h3>
          <%= simple_form_for @promotion, :url => shop_promotion_path(@shop, @promotion), method: :patch do |f| %>
          <%= f.input :name, label: "Name your promotion"%>
          <%= f.input :description, label: "What do you want to promote?"%>
          <%= f.submit "Edit", class: "promotion-btn"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
